.containersc{
    position: relative;
    width: 70%;
    height: 250px;
	background-color: #fff;
    border-style: groove;
    border-radius: 3%;
    margin: 200px 200px 200px 200px ;
    align-items: center;
    justify-content: center;
}
.containersc .contblock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 75px 100px 75px;
}
